<form method="post">
  <input type="text" name="username">
  <!--
  Our application does not require passwords to log in but passport
  requires that we provide a password so we create this dummy value
  to appease passport.
  -->
  <input type="hidden" name="password" value="does not matter">
  <input type="submit" value="Log in">
</form>
